
version: 2.1

orbs:
  android: circleci/android@1.0.3

jobs:
  build-and-test:

    executor:
      name: android/android-machine

  
    steps:
    
      - checkout

      - android/run-tests:
          test-command: ./gradlew lint testDebug --continue

     
      - android/start-emulator-and-run-tests:
          test-command: ./gradlew connectedDebugAndroidTest
          system-image: system-images;android-25;google_apis;x86

   
      - run:
          name: Assemble release build
          command: |
            ./gradlew assembleRelease

workflows:
  sample: 
    jobs:
      - build-and-test
